#header {
    background-color: pink;
    padding: 10px;
}

.content {
    background-color: #9ACD32;
    padding: 10px;
}

.highlight {
    color: blue;
    font-weight: bold;
}

a:link {
    color: yellow;
}

a:hover {
    color: red;
}

