#header {
    background-color: lightblue;
    padding: 10px;
}

.content {
    background-color: #f2f2f2;
    padding: 10px;
}

.highlight {
    color: red;
    font-weight: bold;
}

a:link {
    color: blue;
}

a:hover {
    color: green;
}
